@import url(http://fonts.googleapis.com/css?family=Sophia);

body{
  background-color: #D6D9CE;
  padding: 0px;
  margin: 0px;
}

.content-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  writing-mode: vertical-rl;
  height: 100vh;
  position: fixed;
  right: 0px;
}

.content-bar li{
  text-align: center;
  padding: 20px;
}

.content-bar li a{
  text-decoration: none;
  font-family: "DejaVu Sans Mono", monospace;
  color: #000;
}



/* Animation */
.movement {
  margin: 0px;
  padding: 0px;
  border-right: solid 3px rgba(0,255,0,.75);
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Sophia', "DejaVu Sans Mono", monospace;  
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
