@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  background-color: #3d405b;
  padding: 0px;
  margin: 0px;
}

.content-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  writing-mode: vertical-rl;
  height: 100vh;
  width: 16vw;
  position: fixed;
  right: 0px;
}

.content-bar li{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
  width: 25%
}

.content-bar li a{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-family: "DejaVu Sans Mono", monospace;
  color: #000;
  height: 100%;
  width: 100%;
}


.intro{
  padding-left: 10vw;
  padding-top: 20vh;
  font-family: 'Bebas Neue', cursive;
}

.intro p {
  background-image: url(../images/chatbubble.png);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

/* Animation */
.intro h1 {
  margin: 0px;
  padding: 0px;
  font-size: 100px;
  font-weight: 200;  
}

.container {
    display: block;
    width: 84vw;
}

.places {
    padding-left: 10vw;
    padding-right: 5vw; 
}

.place {
    font-family: "DejaVu Sans Mono", monospace;
    padding: 0px; 
    margin: 50px;
    font-size: 35px;
    display: inline-block;
    text-align: center;
}

.place:hover{
    border-width: 3px;
    border-color: #000;
    border-style: solid;
    margin: 47px;
}

.place img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 20px;
    object-fit: cover;
    object-position: center;
}

.place p {
    margin: 0px;
}